:root {
  --hover-btn-header: rgba(207, 0, 0, 0.465);
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  width: 13rem;
  position: absolute;
  left: 80px;
  height: auto;
  margin: 0;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: center; /* Centraliza os itens de navegação */
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 60px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.nav-item a:hover {
  background-color: var(--hover-btn-header);
  transition: all .3s ease-in-out;
}

.btn-login {
  position: absolute;
  right: 25px;
  border: 2px solid rgb(129, 0, 0);
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: var(--hover-btn-header);
  transition: all .3s ease-in-out;
}
